.board {
  /*width: 50%;*/
  width: 650px;
  height: 560px;
  text-align: center;
  background-color: yellow;
  position: relative;
  margin: auto;
  padding: 10px;
}

.space {
  background-color: white;
  background-size: cover;
  width: 90px;
  height: 90px;
  border-radius: 45px;
  border: 1px solid yellow;
}

.red {
  background-color: red;
}

.black {
  background-color: black;
}
